
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--white);
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
    .container {
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__contacts-link:hover {
        color: var(--blue);
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
    padding-left: 15px;
    span {
        color: var(--blue);
        font-family: 'Raleway', sans-serif;
    }
}
.burger-button {
    width: 24px;
    height: 17px;
    background-image: linear-gradient(45deg, black, black), linear-gradient(45deg, black, black), linear-gradient(45deg, black, black);
    background-position: center top, center bottom, center center;
    background-size: 100% 3px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 12;
    margin-right: 23px;
    cursor: pointer;
    transition: 300ms;
    &:before, &:after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: black;
        position: absolute;
        left: 0;
        top: calc(50% - 1.5px);
        transform-origin: center;
        transition: 300ms;
        transition-delay: 100ms;
    }
    &.active {
        background-size: 0 3px;
        &:before {transform: rotate(45deg);}
        &:after {transform: rotate(-45deg);}
        &:hover:before, &:hover:after {background-color: var(--blue);}
    }
}


// ORDER SERVICE

.order-service {
    align-items: center;
    display: flex;
    background-image: url(../images/slide-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    h1 {
        font-weight: 900;
        color: var(--white);
        text-align: center;
        text-transform: uppercase;
        padding: 0 20px;
        line-height: 42px;
        margin-bottom: 42px;
    }
}

// FEATURE

.feature {
    margin-bottom: 30px;
    &:last-child {margin-bottom: 0;}
    &__image {
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        font-weight: 700;
        font-size: 14px;
        color: var(--dark);
        text-align: center;
        margin: 30px 0 10px 0;
    }
}

// OUR TEAM

.our-team {
    background-color: #F5F4FA;
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    &__team-item-photo {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    &__team-item {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 24px;
        text-align: center;
        margin-bottom: 30px;
        &-name {
            font-weight: 500;
            font-size: 16px;
            color: var(--dark);
            margin-bottom: 10px;
        }
        &-position {
            font-weight: 400;
            font-size: 16px;
            color: var(--light);
        }
        &-links {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            a {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 5px;
            }
        }

    }
    &__social-link {
        svg {fill: var(--light);}
        &:hover {
            background-color: var(--blue);
            svg {fill: var(--white);}
        }
    }

}

// OUR CLIENTS

.our-clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &__item {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 15px 0;
        text-align: center;
        &:hover {border-color: var(--blue);}
        &:hover .our-clients__item-icon {fill: var(--blue);}
        &-icon {
            fill: var(--light);
            max-width: 106px;
            height: 60px;
        }
    }
}


// SOCIAL LINKS

.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 50%;
    transition: var(--transition);
}


// PORTFOLIO PAGE

.portfolio-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 48px;
    &__button {
        margin: 0 4px 15px 4px;
    }
}
.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.portfolio-item {
    width: 100%;
    background: var(--white);
    border: 1px solid #EEEEEE;
    position: relative;
    transition: var(--transition);
    overflow: hidden;
    margin-bottom: 32px;
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &__image {}
    &__title {
        font-weight: 700;
        font-size: 18px;
        color: var(--dark);
        padding: 30px 0 0 24px;
        z-index: 2;
        background: white;
        position: relative;
    }
    &__category {
        font-weight: 400;
        font-size: 16px;
        color: var(--light);
        padding: 10px 0 30px 24px;
        z-index: 2;
        background: white;
        position: relative;
    }
    &__info {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(33, 150, 243, 0.9);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        padding: 63px 24px;
        color: var(--white);
        transform: translateY(111%);
        transition: 300ms;
    }
    &:hover &__info {
        transform: translateY(0%);
    }
}