
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--white);
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
    .container {
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 100%;
        transition: var(--transition);
    }
    &__contacts-link:hover {
        color: var(--blue);
        svg {fill: var(--blue);}
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
    padding-left: 15px;
    span {
        color: var(--blue);
        font-family: 'Raleway', sans-serif;
    }
}
.burger-button {
    width: 24px;
    height: 17px;
    background-image: linear-gradient(45deg, black, black), linear-gradient(45deg, black, black), linear-gradient(45deg, black, black);
    background-position: center top, center bottom, center center;
    background-size: 100% 3px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 12;
    margin-right: 23px;
    cursor: pointer;
    transition: 300ms;
    &:before, &:after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: black;
        position: absolute;
        left: 0;
        top: calc(50% - 1.5px);
        transform-origin: center;
        transition: 300ms;
        transition-delay: 100ms;
    }
    &.active {
        background-size: 0 3px;
        &:before {transform: rotate(45deg);}
        &:after {transform: rotate(-45deg);}
        &:hover:before, &:hover:after {background-color: var(--blue);}
    }
}

.footer {
    background: #2F303A;
    padding: 60px 0;
    .logo {
        color: var(--white);
        margin-bottom: 20px;
        display: block;
        padding-left: 0;
    }
    address {
        width: 100%;
        font-style: normal;
        span {color: var(--white);}
        a {color: var(--light);}
        * {
            margin-bottom: 8px;
            display: block;
        }
    }
    &-title {
        color: var(--white);
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 20px;
    }
    &-social {
        display: flex;
        flex-flow: row wrap;
        @media screen and (min-width:1170px) {max-width: 240px;} 
        &__link {
            fill: var(--white);
            background: rgba(255, 255, 255, 0.1);
            transition: var(--transition);
            @media screen and (min-width:1170px) {
                &:first-of-type {margin-left: 0;}
            }
            &:hover {background: var(--blue);}
        }
    }
    &-subscribe {
        &__button-icon {
            margin-bottom: -10px;
            transform: translateY(-2px);
        }
    }
    &-subscribe {
        max-width: 460px;
        @media screen and (max-width:1030px) {
            margin: 60px auto 0 auto;
        }
    }
}


// ORDER SERVICE

.order-service {
    align-items: center;
    display: flex;
    background-image: url(../images/slide-bg-460.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    @media screen and (min-width:460px) {
        background-image: url(../images/slide-bg-768.jpg);    
        }
    @media screen and (min-width:1170px) {
        background-image: url(../images/slide-bg.jpg);
        }        
    h1 {
        font-weight: 900;
        color: var(--white);
        text-align: center;
        text-transform: uppercase;
        padding: 0 20px;
        line-height: 42px;
        margin-bottom: 42px;
        @media screen and (min-width:1170px) {
            line-height: 60px;
        }
    }
}

// SOCIAL LINKS

.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 50%;
    transition: var(--transition);
}


// PORTFOLIO PAGE

.portfolio-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 48px;
    &__button {
        margin: 0 4px 15px 4px;
    }
}
.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.portfolio-item {
    width: 100%;
    background: var(--white);
    border: 1px solid #EEEEEE;
    position: relative;
    transition: var(--transition);
    overflow: hidden;
    margin-bottom: 32px;
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        color: var(--dark);
        padding: 30px 0 0 24px;
        z-index: 2;
        background: white;
        position: relative;
    }
    &__category {
        font-weight: 400;
        font-size: 16px;
        color: var(--light);
        padding: 10px 0 30px 24px;
        z-index: 2;
        background: white;
        position: relative;
    }
    &__info {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(33, 150, 243, 0.9);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        padding: 63px 24px;
        color: var(--white);
        transform: translateY(111%);
        transition: 300ms;
    }
    &:hover &__info {
        transform: translateY(0%);
    }
}